In [1]:
import pandas as pd

In [ ]:
Filename = '/Users/avner/Downloads/output.log'
data = pd.read_csv(Filename, sep="\t")

                      2024-09-09 13:46:16          0 322/
0       2024-09-09 18:04:39       1406 322/301/ONE_301...
1       2024-09-09 18:04:39       1055 322/301/ONE_301...
2       2024-09-09 18:04:39        685 322/301/ONE_301...
3       2024-09-09 18:04:39        564 322/301/ONE_301...
4       2024-09-09 18:04:39        608 322/301/ONE_301...
...                                                   ...
857343  2025-01-07 16:57:58          0 triptime_data/2...
857344  2025-01-07 17:19:50   19418532 triptime_data/2...
857345  2025-01-07 18:02:47    4790386 triptime_data/2...
857346                              Total Objects: 857347
857347                            Total Size: 12324022899

[857348 rows x 1 columns]